TYPE:=application

SOURCES+=main.cpp

CFLAGS+=-I$(TARGET_BASE)
CFLAGS+=-I$(TARGET_BASE)/../..
CFLAGS+=-I$(TARGET_BASE)/../../Client
CFLAGS+=-I$(TARGET_BASE)/../../Common
CFLAGS+=-I$(TARGET_BASE)/../../External
CFLAGS+=-I$(OGREDEPS_DIR)/ogredeps/include/
CFLAGS+=-I$(OGRE_SRC)/OgreMain/include/
CFLAGS+=-I$(OGRE_SRC)/include/
CFLAGS+=-I$(OGRE_DIR)/include/
CFLAGS+=-I$(MYGUI_SRC)/MyGUIEngine/include/
CFLAGS+=-I$(MYGUI_SRC)/Platforms/Ogre/OgrePlatform/include/

LDFLAGS+=-L$(BUILD)
LDFLAGS+=-lClient
LDFLAGS+=-lOgreMain
LDFLAGS+=-lOIS
LDFLAGS+=-lCommon
LDFLAGS+=-lCake
LDFLAGS+=-lpthread
LDFLAGS+=-lMyGUIEngine
LDFLAGS+=-lMyGUI.OgrePlatform

DEPENDENCIES+=libClient.a MyGUI

RESOURCES+=viewParticle

