TARGET:=Client
TYPE:=application

SOURCES+=main.cpp

LDFLAGS+=-L$(BUILD)
LDFLAGS+=-L$(OGREDEPS_DIR)/ogredeps/lib/Release
LDFLAGS+=-lClient

LDFLAGS+=-lMyGUI.OgrePlatform
LDFLAGS+=-lMyGUIEngine

ifeq ($(PROFILE), windows-mingw)
  LDFLAGS+=-lOgreMain.dll
  LDFLAGS+=-lOIS.dll
else
  LDFLAGS+=$(OGRE_DIR)/lib/libOgreMain.so.1.8.1
  LDFLAGS+=-rdynamic
  LDFLAGS+=-lpthread
  LDFLAGS+=-lOIS
endif

LDFLAGS+=-lCommon
LDFLAGS+=-lCake

OGREDEPS_DIR:=$(BUILD)/OGRE/ogredeps
OGRE_SRC:=$(TARGET_BASE)/../External/OGRE/ogre_src_v1-8-1
OGRE_DIR:=$(BUILD)/OGRE/ogre_src_v1-8-1/

MYGUI_SRC:=$(TARGET_BASE)/../External/MyGUI/MyGUI_3.2.0

CFLAGS+=-I$(TARGET_BASE) 
CFLAGS+=-I$(TARGET_BASE)/../
CFLAGS+=-I$(TARGET_BASE)/../Common 
CFLAGS+=-I$(TARGET_BASE)/../External
CFLAGS+=-I$(TARGET_BASE)/../External/boost/
CFLAGS+=-I$(OGRE_SRC)/OgreMain/include/
CFLAGS+=-I$(OGRE_SRC)/include/
CFLAGS+=-I$(OGRE_DIR)/include/
CFLAGS+=-I$(OGREDEPS_DIR)/ogredeps/include/
CFLAGS+=-I$(MYGUI_SRC)/MyGUIEngine/include/
CFLAGS+=-I$(MYGUI_SRC)/Platforms/Ogre/OgrePlatform/include/

DEPENDENCIES+=libClient.a libCommon.a libCake.a MyGUI Contents

RESOURCES+=runClient
RESOURCES+=runTestClient

