TARGET:=ServerUT
TYPE:=application

SOURCES+=../Common/UnitTests/mainUT.cpp
SOURCES+=Game/Actions/UnitTests/AttackTest.cpp
SOURCES+=Game/Actions/UnitTests/BuildShipTest.cpp
SOURCES+=Game/Actions/UnitTests/ActionFactoryTest.cpp
SOURCES+=Game/Actions/UnitTests/ActionPerformerTest.cpp

SOCI_SRC:=$(TARGET_BASE)/../External/SOCI/soci-3.2.1/

CFLAGS+=-I$(TARGET_BASE)
CFLAGS+=-I$(TARGET_BASE)/../
CFLAGS+=-I$(TARGET_BASE)/../Common
CFLAGS+=-I$(TARGET_BASE)/../External
CFLAGS+=-I$(TARGET_BASE)/../External/boost
CFLAGS+=-I$(TARGET_BASE)/../External/GoogleTest
CFLAGS+=-I$(SOCI_SRC)/core

LDFLAGS=-L. -L$(BUILD) -lServer -lCommon -lCake -lpthread -lgtest-static -lsoci_core

DEPENDENCIES+=libServer.a
DEPENDENCIES+=libCommon.a
DEPENDENCIES+=libCake.a
DEPENDENCIES+=libgtest-static.a
